*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header{
width: 100%;
text-align: center;
margin:auto;

}
header h1{
    font-size: 3rem;
    padding: 10px;
}


